#center
  %ol#messages
    %li.system.in= "#{@user.name} logged in"
  %form{ :method => 'post', :action => '', :id => 'new' }
    %textarea
    %input{ :type => 'submit', :value => 'Send ↑' }
    %p
      New line: Ctrl+Enter
#panel
  #settings
    %a.unmute{ :title => 'Turn sounds off', :href => '#' }
      %span Sounds
    %a.mute{ :title => 'Turn sounds on', :href => '#', :style => 'display: none'}
      %span Mute
    Theme:
    %select
      %option{ :selected => 'selected' }
        Sky
      %option
        Road
  #about
    = "Your friends can chat with you now by going to <a href='http://#{request.domain}#{request.path}}'>#{request.domain}#{request.path}</a>."
  %ul#users
    - User.inside(@room).each do |user|
      - if @user.id == user.id
        %li{ :id => "user#{user.id}", :class => "me" }
          = user.name
      - else
        %li{ :id => "user#{user.id}" }
          = user.name
