%ul#users
  - User.inside(@room).each do |user|
    %li{:id => "user-#{user.id}"}
      = user.name

#chat
%form#send-message{ :method => 'post' }
  = hidden_field_tag 'authenticity_token', form_authenticity_token
  = hidden_field_tag '_method', 'put'
  = text_field_tag 'message'
  = submit_tag 'Add'